<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UIKit_Dynamics.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>546B4B2D1C96B4F600D4C645</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>546B4B461C96B4F600D4C645</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>546B4B511C96B4F600D4C645</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
